.admin-container {
    display: flex;
    column-gap: 10px;

    .admin-sidebar {
        .pro-sidebar {
            height: 100vh;
        }
    }

    .admin-content {
        width: 100%;

        .sidebar-header {
            border: 1px solid green;
        }

        .sidebar-main {
            border: 1px solid red;
        }
    }
}
